<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378140653779-tot8vva987cs0dco9tie1cg5ppk4fptp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378140653779-tot8vva987cs0dco9tie1cg5ppk4fptp</string>
	<key>API_KEY</key>
	<string>AIzaSyCIH2ywaidmItELHucnrkxEJohHvC1f1Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>378140653779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.communitesocial</string>
	<key>PROJECT_ID</key>
	<string>communitesocial</string>
	<key>STORAGE_BUCKET</key>
	<string>communitesocial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378140653779:ios:de9ad9cb30656e9425bc26</string>
</dict>
</plist>